/* body{
    color:#222;
    font-family: sans-serif;
} */

.texto{
    margin:20px;
}


/* DEL RELOJ CON DATE */

.reloj {
    background: linear-gradient(#111, #999);
    border: 2px solid #000;
    display: inline-flex;
    border-radius: 9px;
}

.reloj div{
    color: #fff;
    padding: 5px 7px;
    font-size: 20px;
    font-family: monospace;
}




/* DEL LOCAL STORAGE */

/* body{
    padding:0;
    margin:0;
} */

.modal-overlay {
    background: rgba(0,0,0,0.7);
    width:100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    animation: aparecer 1s forwards;
}


.modal{
    background: #fff;
    margin: 30px;
    padding: 20px;
}

button{
    padding: 9px 20px;
    border: none;
    margin: 3px 9px;
    background: #ddd;
    cursor: pointer;
}

button:hover{
    background: #bbb;
}

@keyframes aparecer{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
} 


@keyframes desaparecer{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
} 








/* DEL DRAG AND DROP */

.rectangulo{
    padding: 100px 300px;
    background: #ccc;
    margin: 50px;
    outline: 6px dashed #aaa;
}

.circulo{
    border-radius: 50%;
    padding: 40px;
    margin: 10px;
    background: #f00;
    display: inline-block;
    cursor: grab;
}




/* DEL EJEMPLO DE USO DE DRAG AND DROP */

.texturas{
    margin:10px;
    border: 1px solid #000;
    border-radius: 5px;

    /* Este es para que al dar click no se seleccione el texto de en medio */
    user-select: none;
}

.texturas div{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 6px;

    /* Este es para que si te deje seleccionar los div */
    user-select: all;
}

.texturas div:active{
    opacity:.55;
}

.textura1{
    background: url('textura 1.jpg');
}
.textura2{
    background: url('textura 2.jpg');
}
.textura3{
    background: url('textura 3.jpg');
}


.zona{
    margin: 10px;
    background: #ddd;
    height: 200px;
}






/* SOBRE EL LECTOR DE ARCHIVOS */

/* .resultado{
    width: 500px;
    height: 200px;
    border: 2px solid #000;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.resultado img{
    width: 150px;
    height: 150px;
}


.text{
    margin: 10px;
} */









/* EJEMPLO 1 GALERIA DINAMICA */


/* img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.resultado{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 6px;
    margin: 10px;
} */

/* Esto es para que el primero abarque mas que todos los demas */

/* img:first-child{
    grid-column: 1/3;
    grid-row: 1 / 3;
} */


/* Este dice que va a ir desde el 2 al 4 de forma horizontal y de vertical va a ir de el 3 al 5 la imagen numero 6  */

/* img:nth-child(6){
    grid-column: 2 / 4;
    grid-row: 3/5;
    }


img:nth-child(10){
    grid-row: span 2;
} */







/* EJEMPLO DRAG & DROP CON FILEREADER */

body{
    color: #222;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.zona-arrastre, .barra-de-carga{ 
    padding: 60px 20px;
    border: 4px dashed #888;
    max-width: 500px;
    color: #888;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    position: relative;
    z-index: 10;
    font-size: 20px;
}

.barra-de-carga{
    position: absolute;
    width: 0%;
    left: 0;
    right: 0;
    margin-top: 0;
    padding: 0;
    z-index: 0;
    border: none;
    background: #def;
    transition: width 0.3s, background 0.5s;
    /* display: none; */
}

.resultado{
    font-size: 25px;
    color: #fff;
    margin: 20px;
    text-align: center;
    /* background: rgb(93, 148, 173); */
    /* display: inline-block; */
    /* width: 500px; */
}

.resultado img{
    width:200px;
    height: 200px;
}

.resultado video{
    width:500px;
    height: 500px;
}



